.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(252, 250, 250);
}

button{
  color: rgb(252, 250, 250);
  height: 60px;
  width: 120px;
  font-size: large;
  background-color: #282c34;
}
